    .header {
        letter-spacing: 0.02em;

        background-color: #FFFFFF;
        border-bottom: 1px solid #ECECEC;
    }

    .header--container {
        display: flex;
        align-items: center;
    }